In [1]:
#import librairies
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
books=pd.read_csv('bestsellers with categories.csv')

In [3]:
books.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [4]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        550 non-null    int64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB

In [5]:
books.isnull().sum()

Name           0
Author         0
User Rating    0
Reviews        0
Price          0
Year           0
Genre          0
dtype: int64

In [6]:
#getting unique rows/Title
# get distinct values of the dataframe based on column
books=books.drop_duplicates(subset=['Name'], ignore_index=True)

In [7]:
books

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
346,Winter of the World: Book Two of the Century T...,Ken Follett,4.5,10760,15,2012,Fiction
347,Women Food and God: An Unexpected Path to Almo...,Geneen Roth,4.2,1302,11,2010,Non Fiction
348,Wonder,R. J. Palacio,4.8,21625,9,2013,Fiction
349,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
350,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction

In [8]:
books=books.sort_values(by=['User Rating'], ascending=False, ignore_index=True)

In [9]:
books

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,Hamilton: The Revolution,Lin-Manuel Miranda,4.9,5867,54,2016,Non Fiction
1,Rush Revere and the First Patriots: Time-Trave...,Rush Limbaugh,4.9,3836,12,2014,Fiction
2,Harry Potter and the Sorcerer's Stone: The Ill...,J.K. Rowling,4.9,10052,22,2016,Fiction
3,Harry Potter and the Prisoner of Azkaban: The ...,J.K. Rowling,4.9,3146,30,2017,Fiction
4,Harry Potter and the Goblet of Fire: The Illus...,J. K. Rowling,4.9,7758,18,2019,Fiction
...,...,...,...,...,...,...,...
346,The Goldfinch: A Novel (Pulitzer Prize for Fic...,Donna Tartt,3.9,33844,20,2013,Fiction
347,Allegiant,Veronica Roth,3.9,6310,13,2013,Fiction
348,Fifty Shades of Grey: Book One of the Fifty Sh...,E L James,3.8,47265,14,2012,Fiction
349,Go Set a Watchman: A Novel,Harper Lee,3.6,14982,19,2015,Fiction
350,The Casual Vacancy,J.K. Rowling,3.3,9372,12,2012,Fiction

In [10]:
books.reset_index(inplace=True)
books = books.rename(columns = {'index':'book_id'})

In [11]:
books

,book_id,Name,Author,User Rating,Reviews,Price,Year,Genre
0,0,Hamilton: The Revolution,Lin-Manuel Miranda,4.9,5867,54,2016,Non Fiction
1,1,Rush Revere and the First Patriots: Time-Trave...,Rush Limbaugh,4.9,3836,12,2014,Fiction
2,2,Harry Potter and the Sorcerer's Stone: The Ill...,J.K. Rowling,4.9,10052,22,2016,Fiction
3,3,Harry Potter and the Prisoner of Azkaban: The ...,J.K. Rowling,4.9,3146,30,2017,Fiction
4,4,Harry Potter and the Goblet of Fire: The Illus...,J. K. Rowling,4.9,7758,18,2019,Fiction
...,...,...,...,...,...,...,...,...
346,346,The Goldfinch: A Novel (Pulitzer Prize for Fic...,Donna Tartt,3.9,33844,20,2013,Fiction
347,347,Allegiant,Veronica Roth,3.9,6310,13,2013,Fiction
348,348,Fifty Shades of Grey: Book One of the Fifty Sh...,E L James,3.8,47265,14,2012,Fiction
349,349,Go Set a Watchman: A Novel,Harper Lee,3.6,14982,19,2015,Fiction
350,350,The Casual Vacancy,J.K. Rowling,3.3,9372,12,2012,Fiction

In [12]:
columns=['Name','Author', 'Genre']

In [13]:
def combine_features(data):
    features=[]
    for i in range(0, data.shape[0]):
        features.append(data['Name'][i]+' '+data['Author'][i]+' '+data['Genre'][i])
    return features

In [14]:
books['combined_features']=combine_features(books)

In [15]:
#Convert the text from the next column to a matrix word counts
cm = CountVectorizer().fit_transform(books['combined_features'])

In [16]:
cs = cosine_similarity(cm)

In [17]:
print(cs)

[[1.         0.17149859 0.23717082 ... 0.11470787 0.13363062 0.31622777]
 [0.17149859 1.         0.21693046 ... 0.07868895 0.09166985 0.21693046]
 [0.23717082 0.21693046 1.         ... 0.14509525 0.08451543 0.4       ]
 ...
 [0.11470787 0.07868895 0.14509525 ... 1.         0.06131393 0.14509525]
 [0.13363062 0.09166985 0.08451543 ... 0.06131393 1.         0.16903085]
 [0.31622777 0.21693046 0.4        ... 0.14509525 0.16903085 1.        ]]

In [18]:
#Get the title of the book the reader likes the most
title = books['Name'][0]
title

'Hamilton: The Revolution'

In [19]:
book_id = books[books.Name == title]['book_id'].values[0]

In [20]:
book_id

0

In [21]:
scores = list(enumerate(cs[book_id]))

In [22]:
#print(scores)

In [23]:
sorted_scores = sorted(scores, key= lambda x:x[1], reverse=True)

In [24]:
sorted_scores = sorted_scores[1:]

In [25]:
#sorted_scores

In [26]:
# create a loop to print the first 5 books from the sorted list
j=0
print('The five most recommended books to '+title+' are:\n')
for item in sorted_scores:
    book_title = books[books.book_id == item[0]]['Name'].values[0]
    print (j+1, book_title)
    j=j+1
    if j >= 5:
        break

The five most recommended books to Hamilton: The Revolution are:

1 The Mueller Report
2 Alexander Hamilton
3 The Amateur
4 George Washington's Secret Six: The Spy Ring That Saved the American Revolution
5 The Official SAT Study Guide